.jumbotron {
  position: relative;
  color: #EE5921;
  font-size: 48px;
  background-color: #484848;
  }

.nav li {
  display: inline;
  font-size: 24px;
  padding-right: 12px;
}

.left {
  position: left;
}

.right {
  position: right;
}
